In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.font_manager as fm
import matplotlib
import pickle
import timeit
import math
import os
import json
# import seaborn as sns
%matplotlib inline
import datetime
from os import listdir
from os.path import isfile, join
import winsound

In [8]:
df4 = pd.read_csv('./complete dfs/bus 1/bus 4 complete.csv', low_memory= False)
df1 = pd.read_csv('./complete dfs/bus 1/bus 1 complete.csv', low_memory= False)

In [12]:
df1['Route'] = 1
df4['Route'] = 4

In [21]:
df = pd.concat([df1,df4])

In [23]:
dfs = []
for file in  os.listdir("./complete dfs/cleaned and merged/"):
    df = pd.read_csv('./complete dfs/cleaned and merged/'+file, low_memory= False)
    df = df.dropna()
    df['Route'] = file[:3]
    dfs += [df]
all = pd.concat(dfs)

In [24]:
dfs[0].head()

,Unnamed: 0,Unnamed: 0.1,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Instance,Direction,TimeToNextStop,Hour,Day,Avg,Summary,Temp,Rain,Wind_Speed,Route
1,1,1,4603.0,2013-01-02,319,1.357111e+15,1.0,2,1,93.0,7,3,156.974359,Mostly Cloudy,9.0,0.0,31.0,001
2,2,2,4603.0,2013-01-02,371,1.357110e+15,0.0,2,1,20.0,7,3,47.952381,Mostly Cloudy,9.0,0.0,31.0,001
4,4,4,4603.0,2013-01-02,383,1.357110e+15,1.0,2,1,40.0,7,3,35.378378,Mostly Cloudy,9.0,0.0,31.0,001
7,7,7,4603.0,2013-01-02,389,1.357110e+15,0.0,2,1,41.0,7,3,44.974359,Mostly Cloudy,9.0,0.0,31.0,001
8,8,8,4603.0,2013-01-02,391,1.357110e+15,0.0,2,1,49.0,7,3,69.214286,Mostly Cloudy,9.0,0.0,31.0,001

In [25]:
all.to_csv("./complete dfs/complete compile/hunormus.csv")

In [26]:
Freq = 2500 
Dur = 1000 
winsound.Beep(Freq,Dur)

In [27]:
Freq = 2500 
Dur = 1000 
winsound.Beep(Freq,Dur)

In [28]:
all.shape

(11883859, 18)

In [29]:
all.head()

,Unnamed: 0,Unnamed: 0.1,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Instance,Direction,TimeToNextStop,Hour,Day,Avg,Summary,Temp,Rain,Wind_Speed,Route
1,1,1,4603.0,2013-01-02,319,1.357111e+15,1.0,2,1,93.0,7,3,156.974359,Mostly Cloudy,9.0,0.0,31.0,001
2,2,2,4603.0,2013-01-02,371,1.357110e+15,0.0,2,1,20.0,7,3,47.952381,Mostly Cloudy,9.0,0.0,31.0,001
4,4,4,4603.0,2013-01-02,383,1.357110e+15,1.0,2,1,40.0,7,3,35.378378,Mostly Cloudy,9.0,0.0,31.0,001
7,7,7,4603.0,2013-01-02,389,1.357110e+15,0.0,2,1,41.0,7,3,44.974359,Mostly Cloudy,9.0,0.0,31.0,001
8,8,8,4603.0,2013-01-02,391,1.357110e+15,0.0,2,1,49.0,7,3,69.214286,Mostly Cloudy,9.0,0.0,31.0,001

In [30]:
twenty = all.sample(frac=0.2)

In [31]:
twenty.head()

,Unnamed: 0,Unnamed: 0.1,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Instance,Direction,TimeToNextStop,Hour,Day,Avg,Summary,Temp,Rain,Wind_Speed,Route
338576,15893,15893,6383.0,2012-11-29,7353,1.354179e+15,0.0,1,0,120.0,8,4,64.152174,Scattered Clouds,-1.0,0.0,11.0,46A
178592,69003,69003,6918.0,2013-01-08,1016,1.357631e+15,1.0,1,0,39.0,7,2,47.257143,Mostly Cloudy,12.0,0.0,20.0,140
106456,106456,106456,6600.0,2013-01-18,790,1.358514e+15,1.0,1,1,101.0,12,5,120.956522,Light Rain,2.0,1.0,50.0,46A
72782,10764,10764,3481.0,2013-01-14,7401,1.358156e+15,1.0,1,0,205.0,9,1,226.586207,Mostly Cloudy,4.0,0.0,25.0,747
68160,68160,68160,2224.0,2012-11-27,1730,1.354028e+15,0.0,1,1,20.0,14,2,24.900000,Partly Cloudy,7.0,0.0,20.0,130

In [33]:
twenty.to_csv("./complete dfs/complete compile/twenty.csv")